<div class='campos_persona' data-controller='sip--sindocaut'>
  <!-- %= f.input :id, readonly: true %-->
  <%= f.input :id, as: :hidden,
    input_html: {"data-sip--sindocaut-target": "id"}
  %>

  <%= render partial: 'sip/personas/campo_nombres', 
    locals: {f: f} %>
  <%= render partial: 'sip/personas/campo_apellidos', 
    locals: {f: f} %>

  <%= render partial: 'sip/personas/campo_tdocumento_id', 
    locals: {f: f} %>

  <%= f.input :numerodocumento %>

  <%= render 'persona_complemento1', locals: {f: f} %>

  <div class="row">
    <div class="col-sm-4">
      <%= render partial: 'sip/personas/campo_mesnac', 
        locals: {f: f} %>
    </div>
    <div class="col-sm-4">
      <%= fvictima.input :edad, as: :integer %>
    </div>
    <div class="col-sm-4">
      <%= fvictima.input :edadactual, as: :integer %>
    </div>
  </div>

  <%= render partial: 'sip/personas/campo_mesnac', 
    locals: {f: f} %>

  <%= render partial: 'sip/personas/campo_dianac', 
    locals: {f: f} %>

  <%= render partial: 'sip/personas/campo_sexo', 
    locals: {f: f} %>

  <%= render partial: 'sip/personas/campo_id_pais', 
    locals: {f: f} %>

  <%= render partial: 'sip/personas/campo_id_departamento', 
    locals: {f: f} %>

  <%= render partial: 'sip/personas/campo_id_municipio', 
    locals: {f: f} %>

  <%= render partial: 'sip/personas/campo_id_clase', 
    locals: {f: f} %>
</div>
