<% content_for :titulo do %>
    <%= Sip.titulo %>
<% end %>

<% content_for :menu do %>

  <ul class="navbar-nav mr-auto">
    <% if !current_usuario.nil? %>
      <li class="nav-item">
        <%= link_to 'Actores sociales',
          sip.actoressociales_path,
          class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Personas',
          sip.personas_path, 
          class: 'nav-link' %>
      </li>
    <% end %>
  </ul>

  <ul class="navbar-nav mr-auto navbar-right">
    <li class="nav-item">
      <%= link_to 'Documentacion',
        'https://github.com/pasosdeJesus/sip/tree/master/doc',
        class: 'nav-link' 
        %>
    </li>
    <% if !current_usuario.nil? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administrar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Contraseña',
            main_app.editar_registro_usuario_path, 
            class: 'dropdown-item' %>
          <%= link_to 'Copia de respaldo cifrada',
            sip.respaldo7z_path, 
            class: 'dropdown-item' %>
          <%= link_to 'Usuarios',
            main_app.usuarios_path, 
            class: 'dropdown-item' %>
          <%= link_to 'Tablas básicas',
            sip.tablasbasicas_path, 
            class: 'dropdown-item' %>
          <%= link_to  'Ayuda CA',
            sip.ayuda_controldeacceso_path,
            class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to "Salir #{current_usuario.nusuario}",
          main_app.sign_out_path,
          class: 'nav-link' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Acerca de',
          sip.acercade_path, 
          class: 'nav-link' %>
      </li>
      <li>
        <%= link_to 'Iniciar Sesión',
          main_app.new_usuario_session_path,
          class: 'nav-link' %>
      </li>
    <% end %>
  </ul>
<% end %>

<% content_for :piedepagina do %>
  <p><span class='derechos'><a href="http://www.pasosdejesus.org/dominio_publico_colombia.html">Dominio Público de acuerdo a Legislación Colombiana</a><br/>
    Desarrollado por <a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2019. 
  </span></p>
<% end %>

<%= render template: "layouts/sip/application" %>
