<% content_for :titulo do %>
    <%= Sip.titulo %>
<% end %>


<% content_for :menu do %>
  <%= grupo_menus do %>
    <% if !current_usuario.nil? %>
        <%= opcion_menu "Actores sociales", sip.actoressociales_path, true %>
        <%= opcion_menu "Personas", sip.personas_path, true %>
    <% end %>
  <% end %>
  <%= grupo_menus empuja: :derecha do %>
    <%= opcion_menu "Documentacion", "https://github.com/pasosdeJesus/sip/tree/master/doc" %>
    <% if current_usuario %>
      <%= despliega_abajo "Administrar" do %>
        <%= opcion_menu "Clave", main_app.editar_registro_usuario_path, false %>
        <%= opcion_menu "Copia de respaldo cifrada", sip.respaldo7z_path, false %>
        <%= opcion_menu "Usuarios", main_app.usuarios_path, false %>
        <%= opcion_menu "Tablas Básicas", sip.tablasbasicas_path, false %>
        <%= opcion_menu "Ayuda CA", sip.ayuda_controldeacceso_path, false %>
      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", main_app.sign_out_path, true %>
    <% else %>
      <%= opcion_menu "Acerca de", sip.acercade_path, true %>
      <%= opcion_menu "Iniciar Sesión", main_app.new_usuario_session_path, true %> 
    <% end %>
  <% end %>
<% end %>


<% content_for :piedepagina do %>
  <p><span class='derechos'><a href="http://www.pasosdejesus.org/dominio_publico_colombia.html">Dominio Público de acuerdo a Legislación Colombiana</a><br/>
    Desarrollado por <a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2019. 
  </span></p>
<% end %>


<%= render template: "layouts/sip/application" %>
