<% ao = f.object ? f.object : @actorsocial %>
<% div_id = "actorsocial_persona_#{ao.id}" %>
<div id="<%= div_id %>" class="actorsocial_persona">
  <label class="string optional control-label" for="tabla_<%= div_id %>">Contactos en la organización social</label>
  <table id="tabla_<%= div_id %>" class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Sexo</th>
        <th scope="col">Perfil</th>
        <th scope="col">Cargo</th>
        <th scope="col">Correo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody id='actorsocial_persona'>
      <%= f.simple_fields_for :actorsocial_persona, 
        Sip::ActorsocialPersona.where(actorsocial_id: ao.id) do |ap| %>
      <%= render 'actorsocial_persona_campos', :f => ap %>
    <% end %>
    </tbody>
  </table>

  <div class="links">
    <%= link_to_add_association 'Añadir Contacto', f, 
      :actorsocial_persona,
      :"data-association-insertion-node" => "tbody#actorsocial_persona", 
      :"data-association-insertion-method" => "append", 
      partial: 'actorsocial_persona_campos',
      :class => 'btn-primary'
    %>
  </div>

</div>
