<%- model_class = clase.constantize -%>
<div class="page-header">
  <h1><%=t '.title', 
    :default => model_class.human_attribute_name(model_class.model_name.to_s.demodulize) 
    %></h1>
</div>

<dl class="dl-horizontal">
  <% atributos_show.each do |atr|  %>
    <% #byebug %>
    <% rutap1 = "#{clase.pluralize.underscore}/show_campo_#{atr}" %>
    <% rutap2 = "#{clase.pluralize.underscore}/show_#{atr}" %>
    <% if lookup_context.find_all(rutap1, [], true).any? %>
        <dt><strong><%= model_class.human_attribute_name(atr) %>:</strong></dt>
        <dd> <%= render partial: rutap1 %> </dd>
    <% elsif lookup_context.find_all(rutap2, [], true).any? %>
        <dt><strong><%= model_class.human_attribute_name(atr) %>:</strong></dt>
        <dd> <%= render partial: rutap2 %> </dd>
    <% else %>
      <% p = @registro.presenta(atr) %>
      <% if p && p.to_s.length > 0 %>
        <dt><strong><%= model_class.human_attribute_name(atr) %>:</strong></dt>
        <dd>
        <% if p.to_s.include?("\n") %>
          <pre><%= p %></pre>
        <% else %>
          <%= p %>
        <% end %></dd>
      <% end %>
    <% end %>
  <% end %>
</dl>

<div class="form-actions">
  <% rutama = clase.pluralize.underscore + '/show_acciones' %>
  <% if lookup_context.find_all( rutama, [], true).any? %>
    <% # Hay un parcial %>
    <%= render partial: rutama %>
  <% else %>
    <%= render partial: 'show_acciones' %>
  <% end %>
</div>
