<%- model_class = clase.constantize -%>
<div class="page-header">
  <h1><%=t '.title', 
    :default => model_class.human_attribute_name(model_class.model_name.to_s.demodulize) 
    %></h1>
</div>

<dl class="dl-horizontal">
  <% atributos_show.each do |atr|  %>
    <% #byebug %>
    <% vatr = atr.to_s.gsub(/[^a-z_A-Z0-9]/, '') %>
    <% rutap1 = "#{clase.pluralize.underscore}/show_campo_#{vatr}" %>
    <% rutap1a = "admin/#{clase.pluralize.underscore}/show_campo_#{vatr}" %>
    <% rutap2 = "#{clase.pluralize.underscore}/show_#{vatr}" %>
    <% rutap2a = "admin/#{clase.pluralize.underscore}/show_#{vatr}" %>
    <% if lookup_context.find_all(rutap1, [], true).any? %>
        <dt><strong><%= model_class.human_attribute_name(atr) %>:</strong></dt>
        <dd> <%= render partial: rutap1 %> </dd>
    <% elsif lookup_context.find_all(rutap1a, [], true).any? %>
        <dt><strong><%= model_class.human_attribute_name(atr) %>:</strong></dt>
        <dd> <%= render partial: rutap1a %> </dd>
    <% elsif lookup_context.find_all(rutap2, [], true).any? %>
        <dt><strong><%= model_class.human_attribute_name(atr) %>:</strong></dt>
        <dd> <%= render partial: rutap2 %> </dd>
    <% elsif lookup_context.find_all(rutap2a, [], true).any? %>
        <dt><strong><%= model_class.human_attribute_name(atr) %>:</strong></dt>
        <dd> <%= render partial: rutap2a %> </dd>
    <% else %>
      <% p = @registro.presenta(atr) %>
      <% if p && p.to_s.length > 0 %>
        <dt><strong><%= model_class.human_attribute_name(atr) %>:</strong></dt>
        <dd>
        <% if p.to_s.include?("\n") %>
          <pre><%= p %></pre>
        <% else %>
          <%= p %>
        <% end %></dd>
      <% end %>
    <% end %>
  <% end %>
</dl>

<div class="resumen_epilogo">
    <% rutap3 = "#{clase.pluralize.underscore}/resumen_epilogo" %>
    <% if lookup_context.find_all(rutap3, [], true).any? %>
        <%= render partial: rutap3 %> 
    <% else %> 
      <%= render partial: 'resumen_epilogo' %>
    <% end %>
</div>

<% if current_usuario  &&  controller.registrar_en_bitacora %>
  <div class="bitacora">
    <% rutap4 = "#{clase.pluralize.underscore}/resumen_registros_bitacora" %>
    <% if lookup_context.find_all(rutap4, [], true).any? %>
      <%= render partial: rutap4 %> 
    <% else %> 
      <%= render partial: 'resumen_registros_bitacora' %>
    <% end %>
  </div>
<% end %>

<div class="form-actions">
  <% rutama = clase.pluralize.underscore + '/show_acciones' %>
  <% if lookup_context.find_all( rutama, [], true).any? %>
    <% # Hay un parcial %>
    <%= render partial: rutama %>
  <% else %>
    <%= render partial: 'show_acciones' %>
  <% end %>
</div>
