<%= simple_form_for @basica, 
    url: admin_basica_path(@basica),
    defaults: { input_html: { class: 'span10' } } do |f| 
%>
  <%= render partial: 'sip/hogar/errores', locals: { f: f } %> 
  
  <% atributos_form.each do |atr|  %>
    <% alf = @basica.asociacion_llave_foranea(atr) %>
    <% vatr = atr.to_s.gsub(/[^a-z_A-Z0-9]/, '') %>
    <% if lookup_context.find_all("sip/admin/basicas/#{vatr}", [], true).any? %>
      <% # Hay un parcial para presentar el campo %>
      <%= render partial: "sip/admin/basicas/#{vatr}", locals: {f: f} %>
    <% elsif alf  %>
      <% # Llave Foranea 
        n = alf.name %>
      <%= f.association n,
        collection: alf.class_name.constantize.habilitados,
        label_method: :presenta_nombre,
        value_method: :id,
        input_html: { class: 'chosen-select' }
      %>
    <% elsif @basica.asociacion_combinada(atr) %>
      <% # Tabla Combinada 
        r = @basica.asociacion_combinada(atr)
      %>
      <%= f.association r.name,
        collection: r.class_name.constantize.habilitados,
        label_method: lambda {|r| r.presenta_nombre },
        value_method: :id ,
        input_html: { class: 'chosen-select' }
      %>
    <% elsif @basica.class && @basica.class.columns_hash[atr] then %>
      <% # Escogemos el control %>
      <% col = @basica.class.columns_hash[atr] %>
      <% if col && col.type == :date then %>
        <% # fecha %>
        <%= f.input atr.to_sym,
            :input_html => { "data-behaviour" => "datepicker"}, 
            :as => :string 
        %>
      <% elsif col && col.type == :integer %>
        <%= f.input atr.to_sym, as: :integer %>
      <% elsif col.limit && col.limit > 1000 %>
        <%= f.input atr.to_sym, as: :text%>
      <% else %>
        <%= f.input atr.to_sym %>
      <% end %>
    <% else %>
      <% if atr[0, 5] == 'fecha' %>
        <%= f.input atr.to_sym,
            :input_html => { "data-behaviour" => "datepicker"}, 
            :as => :string %>
      <% elsif @basica.respond_to?(atr) then %>
        <%= f.input atr.to_sym %>
      <% else %>
        <%= "Campo #{atr} sin control para editar"  %>
      <% end %>
    <% end %>
  <% end %>
  
  <div class="form-actions">
    <%= f.button :submit, (f.object.new_record? ? 'Crear' : 'Actualizar'), 
      :class => 'btn-primary' 
    %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      admin_basicas_path(@basica), :class => 'btn' 
    %>
  </div>
  
<% end %>
