<%= simple_form_for @basica, 
  url: @basica.id.nil? ? (admin_basicas_path(@basica)) : 
  admin_basica_path(@basica), 
  defaults: { input_html: { class: 'span10' } } do |f| %>

  <div id="errores">
    <% if f.object.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-error">
          El formulario tiene 
          <%= pluralize(f.object.errors.count, "error") %>.
        </div>
        <ul>
          <% f.object.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.error_notification %>
  </div>

  <% atributos_form.each do |atr|  %>
    <% #byebug %>
    <% alf = @basica.asociacion_llave_foranea(atr) %>
    <% if lookup_context.find_all("sip/admin/basicas/#{atr}", [], true).any? %>
      <% # Hay un parcial para presentar el campo %>
      <%= render partial: "sip/admin/basicas/#{atr}", locals: {f: f} %>
    <% elsif alf  %>
      <% # Llave Foranea 
        n = alf.name %>
      <%= f.association n,
        collection: alf.class_name.constantize.habilitados,
        label_method: :presenta_nombre,
        value_method: :id
      %>
    <% elsif @basica.asociacion_combinada(atr) %>
      <% # Tabla Combinada 
        r = @basica.asociacion_combinada(atr)
      %>
      <%= f.association r.name,
        collection: r.class_name.constantize.habilitados,
        label_method: :nombre,
        value_method: :id 
      %>
    <% elsif @basica.class && @basica.class.columns_hash[atr] then %>
      <% # Escogemos el control %>
      <% col = @basica.class.columns_hash[atr] %>
      <% if col && col.type == :date then %>
        <% # fecha %>
        <%= f.input atr.to_sym,
          :input_html => { "data-behaviour" => "datepicker"}, 
          :as => :string 
        %>
      <% elsif col && col.type == :integer %>
        <%= f.input atr.to_sym, as: :integer %>
      <% elsif col.limit && col.limit > 1000 %>
        <%= f.input atr.to_sym, as: :text%>
      <% else %>
        <%= f.input atr.to_sym %>
      <% end %>
    <% else %>
      <%= "Campo #{atr} sin control para editar"  %>
    <% end %>
  <% end %>
  <div class="form-actions">
			<%= f.button :submit, (f.object.new_record? ? 'Crear' : 'Actualizar'), 
      :class => 'btn-primary' 
    %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      admin_basicas_path(@basica), :class => 'btn' 
    %>
  </div>
<% end %>
