<%= a.input :descripcion %>
<% if !a.object || !a.object.adjunto_file_name || !a.object.id %>
  <%= a.input :adjunto, as: :file, label: 'Archivo' %>
<% else %>
  <div class="sip_anexo_adjunto">
    <label for="sip_anexo_attributes_<%=a.object.id%>_adjunto">Archivo</label>
    <a id="sip_anexo_attributes_<%=a.object.id%>_adjunto" href="<%= sip.descarga_anexo_path(a.object.id) %>", style="text-decoration:none" data-turbolinks='false'><%= a.object.adjunto_file_name %></a>
  </div>
<% end %>
<%= a.input :id, as: :hidden %>
